{
  "openapi": "3.0.1",
  "info": {
    "title": "KNAPP KiSoft Mock API",
    "description": "Mock server simulating the KNAPP KiSoft One API, limited to the message subset in scope for VOLVO TRUCKS Tacoma per the **HOST Interface Specification One API Appendix P000-013061, version V4.0 (2026-06-10)**, valid in combination with Product One API 2.11.3 (2026-02-27). Only the in-scope HOST → KiSoft One calls are exposed. Bearer token required (OAuth 2.0, HIS Appendix §2.4.2).\n\n**Field usage notation (HIS Appendix §4.1)** — incoming (HOST → KiSoft One): `[REQ]` = technically required, omission returns format error E-AKO-GENR-0002 and is modelled here as OpenAPI `required`; `[MAN]` = optional in the schema but logistically mandatory for this warehouse, modelled as an optional property whose description is prefixed `[MAN]`; empty = optional. Outgoing (KiSoft One → HOST): `[REQ]` = always transmitted, modelled as `required`.\n\n**Conformance to the official product API.** Version 4.0.0 was reconciled field-by-field against **KiSoft One API 2.12.2** (`openapi (1).json`). Attribute names, datatypes and constraints (`maxLength`, `pattern`, `format`, `minimum`) now follow the official specification. Where the HIS Appendix and the official API disagree on a **name or datatype**, the official API is followed and the field description records the correction - the appendix cannot rename a field the product does not have. Where they disagree on **structure**, the official API is likewise followed, but those three cases are called out as open points for KNAPP because they change the wire format: `processedStock` and `inventoryRequestLine` are single objects (not arrays), and `areaWeights` is a `oneOf` over two mutually exclusive variants. Scope, field usage ([REQ]/[MAN]/[NIS]) and enumerated values remain governed by the HIS Appendix, which narrows the product API for this warehouse.\n\n**Fields not used by this warehouse** are shown grey and struck through in the HIS Appendix. They are reproduced here with OpenAPI `deprecated: true` (Swagger UI renders them struck through, matching the document) and are never listed in a schema's `required` array. Two distinct meanings apply, per direction:\n- Incoming (HOST -> KiSoft One), description prefix `[NIS]`: not in scope. The HOST **must not transmit** the field; doing so may cause unpredictable behaviour and system errors (HIS Appendix §4.1.1).\n- Outgoing (KiSoft One -> HOST), description prefix `[not logistically relevant]`: KiSoft One **still transmits** the field - removing data fields from reply messages is not permitted at KNAPP for upgradability reasons (HIS Appendix §4.1.2) - but it carries no logistical relevance for VOLVO TRUCKS Tacoma and the HOST should ignore it.\n\nA schema is marked `deprecated` as a whole when it is struck through at every point it is used.\n\n**Enumerations** carry only the values configured for VOLVO TRUCKS Tacoma per HIS Appendix §4.2 — the Product One API defines further values that are not configured for this warehouse.\n\n**Operations under tag \"Mock OData Read (NOT KiSoft API)\" are mock-only inspection GETs — they are not part of the KiSoft One Product API (HIS Appendix §2.3.1: KiSoft exposes no GET endpoints).** Operations marked `deprecated` with an `[OUT OF SCOPE …]` summary are messages the HIS Appendix marks **NO**; they are retained for negative testing only and must not be used in production integration.\n\nLifecycle events POST callbacks to IBM APIC server-side (e.g. **https://apitest-awe.volvo.com/vgcd/external/plwms5d.srv.volvo.com/wms/oneapi/v1/_webhooks/stockReceived**). Use **Webhooks (outgoing)** with wait=true to see the APIC response in the reply.",
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://wispelberg.eu/kisoft",
      "description": "KiSoft Mock — HOST → KiSoft API and webhook relay"
    }
  ],
  "security": [
    {
      "bearerAuth": [ ]
    }
  ],
  "tags": [
    {
      "name": "Webhooks (outgoing)",
      "description": "KiSoft One → HOST callbacks. Select **KiSoft Mock** server and use wait=true (default) to see the IBM APIC response in the reply body."
    },
    {
      "name": "MasterData-Article",
      "description": "Pack unit master data (update session, PUT, DELETE, GET mock read)"
    },
    {
      "name": "Warehouse-Internal (mock)",
      "description": "Mock endpoints for GS §5.3 warehouse-internal processes. Triggers PostLoadUnitMoved (targeted retrieval) and PostStockCorrected (retrieval to conventional / repacking)."
    },
    {
      "name": "Stock Operator (mock)",
      "description": "Mock-only spontaneous stock correction (PostStockCorrected without prior inventory request)."
    },
    {
      "name": "Goods-In Operator (mock)",
      "description": "Mock endpoints that simulate the operator-driven IB-02 decanting flow. Triggers PostInboundDeliveryReply STARTED/FINISHED and PostStockReceived webhooks."
    },
    {
      "name": "Stock Reports",
      "description": "Request an inventory report or storage capacity report; the report is POSTed back as a webhook"
    },
    {
      "name": "Mock OData Read (NOT KiSoft API)",
      "description": "OData-style GET endpoints added by this mock for debugging and test verification. **Not defined in the KiSoft One Product API or HIS Appendix.** A real KiSoft One installation does not expose these URLs; do not rely on them in production WMS integration."
    },
    {
      "name": "Inventory",
      "description": "Inventory request (POST, DELETE). The count is carried out via the Inventory Operator (mock) endpoint."
    },
    {
      "name": "Inventory Operator (mock)",
      "description": "Mock endpoint simulating the GS §5.3.5 inventory count. Triggers PostStockCorrected (on deviation), PostInventoryRequestReply(FINISHED) and PostStockLockChanged (unlock)."
    },
    {
      "name": "Goods-In",
      "description": "Inbound delivery (POST, PATCH, DELETE, GET mock read)"
    },
    {
      "name": "Goods-Out Operator (mock)",
      "description": "Mock endpoints simulating the GS §5.2.3–§5.2.5 picking/check flow. Drives STARTED → PROCESSED → FINISHED and triggers PostGoodsOutOrderReply / PostStockCorrected / PostStockLockChanged."
    },
    {
      "name": "Goods-Out",
      "description": "Goods-out order (POST, PATCH, DELETE, GET mock read). Status is driven STARTED→PROCESSED→FINISHED via the Goods-Out Operator (mock) endpoints; PostGoodsOutOrderReply is sent on each change."
    }
  ],
  "paths": {
    "/oneapi/v1/packUnit": {
      "get": {
        "tags": [
          "Mock OData Read (NOT KiSoft API)",
          "MasterData-Article"
        ],
        "summary": "[MOCK ONLY — not KiSoft API] List pack units (OData read)",
        "description": "**Not part of the KiSoft One Product API** (HIS Appendix §2.3.1: KiSoft exposes no GET requests). Mock-only inspection endpoint for stored master data. Supports OData query options `$filter`, `$top`, `$skip`, `$count`. Example filter: `clientNumber eq 'OB' and articleNumber eq 'ART-001'`.",
        "operationId": "GetPackUnits",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g. clientNumber eq 'OB' and packSize eq 'EU'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum records to return (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include @odata.count when true",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OData v4 collection (mock-only; not KiSoft API)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ODataCollectionResponsePackUnitFull"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "MasterData-Article"
        ],
        "summary": "Create or Update Pack Unit Information (HIS Appendix §6.1.1)",
        "description": "Master data must be sent before any related movement or stock data (HIS Appendix §4). Batch size is limited to 10000 items per call.",
        "operationId": "PutPackUnit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PackUnitFull"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pack units created/updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "207": {
            "description": "Some operations failed. lineCode: E-AKO-MAST-0006 (Wrong pack size / duplicate article+packSize), E-AKO-MAST-0012, E-AKO-MAST-0013",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. lineCode: E-AKO-GENR-0001 (General error), E-AKO-GENR-0002 (Format error - e.g. batch exceeds 10000 records, MA-01 FR-003)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MasterData-Article"
        ],
        "summary": "Delete packUnit from KiSoft One (HIS Appendix §6.1)",
        "operationId": "DeletePackUnit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PackUnitKeyRef"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pack units deleted (all if no body, or listed refs without stock)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "207": {
            "description": "Some operations failed. lineCode: E-AKO-STOC-0002 (Active ASRS stock exists - MA-01 E1 inventory guard)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. lineCode: E-AKO-GENR-0001, E-AKO-GENR-0002",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/stock/operator/correct": {
      "post": {
        "tags": [
          "Stock Operator (mock)"
        ],
        "summary": "Spontaneous stock correction (IN-02)",
        "description": "Sets ASRS stock to the absolute counted quantity and emits PostStockCorrected without an inventoryRequestReference. Use wait=true (default) to include the IBM APIC response.",
        "operationId": "OperatorSpontaneousStockCorrection",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "description": "Wait for IBM APIC response and include it in the reply (recommended for Swagger)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpontaneousStockCorrection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Correction applied; callback field shows APIC result when wait=true",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/requestStorageCapacityReport": {
      "post": {
        "tags": [
          "Stock Reports"
        ],
        "summary": "Request a Storage Capacity Report (HIS Appendix §8.3.2)",
        "operationId": "PostRequestStorageCapacityReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestStorageCapacityReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request accepted; PostStorageCapacityReport will be POSTed to the callback URL",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. lineCode: E-AKO-GENR-0002 (Format error)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/requestInventoryReport": {
      "post": {
        "tags": [
          "Stock Reports"
        ],
        "summary": "Request an Inventory Report (HIS Appendix §8.2.2)",
        "operationId": "PostRequestInventoryReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestInventoryReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request accepted; PostInventoryReport will be POSTed to the callback URL",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. lineCode: E-AKO-GENR-0002 (Format error)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/packUnit/updateSession": {
      "post": {
        "tags": [
          "MasterData-Article"
        ],
        "summary": "Open or Close an UpdateSession (HIS Appendix §6.1)",
        "operationId": "PostPackUnitUpdateSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasterDataUpdateSession"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update session opened (SET) or closed (CLEANUP) successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. lineCode: E-AKO-GENR-0001 (General error), E-AKO-GENR-0002 (Format error)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/loadUnit/retrieve": {
      "post": {
        "tags": [
          "Warehouse-Internal (mock)"
        ],
        "summary": "Targeted retrieval of a source load unit (GS §5.3.3)",
        "description": "Moves a load unit out of the AeroBot system and emits PostLoadUnitMoved. When toConventional is true the stock leaves the AeroBot system and a PostStockCorrected is also emitted.",
        "operationId": "RetrieveLoadUnit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadUnitRetrievalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Retrieval triggered",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/loadUnit/repack": {
      "post": {
        "tags": [
          "Warehouse-Internal (mock)"
        ],
        "summary": "Repacking / defragmentation (GS §5.3.4)",
        "description": "Repacks stock between load units. A quantity correction (e.g. target slot was not empty) is reported to the Host via PostStockCorrected.",
        "operationId": "RepackLoadUnit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Repacking triggered",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/inventoryRequest": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Create Inventory Request (HIS Appendix §7.2.2)",
        "operationId": "PostInventoryRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory request created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0002 (Request already active), E-AKO-MAST-0001 (Unknown article), E-AKO-GENR-0001, E-AKO-GENR-0002",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - duplicate Article + CountryOfOrigin while a prior request is non-terminal. lineCode: E-AKO-MOVM-0005 (spec 006 EF-07)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Inventory"
        ],
        "summary": "Delete Inventory Request (HIS Appendix §7.2)",
        "operationId": "DeleteInventoryRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequestRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory request deleted",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (Request not found)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/inventoryRequest/operator/count": {
      "post": {
        "tags": [
          "Inventory Operator (mock)"
        ],
        "summary": "Carry out the inventory count (GS §5.3.5)",
        "description": "Records the counted quantity per line. A deviation from the booked ASRS stock adjusts the stock and emits PostStockCorrected. Closes the request with PostInventoryRequestReply(FINISHED) and unlocks the counted stock via PostStockLockChanged.",
        "operationId": "OperatorCountInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryCountConfirmation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory counted",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/inboundDelivery": {
      "get": {
        "tags": [
          "Mock OData Read (NOT KiSoft API)",
          "Goods-In"
        ],
        "summary": "[MOCK ONLY — not KiSoft API] List inbound deliveries (OData read)",
        "description": "**Not part of the KiSoft One Product API** (HIS Appendix §2.3.1: KiSoft exposes no GET requests). Mock-only inspection endpoint. Supports `$filter`, `$top`, `$skip`, `$count`. Filter fields: clientNumber, inboundDeliveryNumber, processingStatus, supplierNumber.",
        "operationId": "GetInboundDeliveries",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include @odata.count when true",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OData v4 collection (mock-only; not KiSoft API)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ODataCollectionResponseInboundDeliveryRead"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Goods-In"
        ],
        "summary": "Create Inbound Delivery (HIS Appendix §7.1.3)",
        "operationId": "PostInboundDelivery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundDelivery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inbound delivery created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0002 (Order already active), E-AKO-MAST-0001 (Unknown article), E-AKO-MAST-0007 (Duplicate article in inbound delivery - one part per inbound delivery, IB-02), E-AKO-GENR-0001, E-AKO-GENR-0002",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Goods-In"
        ],
        "summary": "[OUT OF SCOPE — HIS Appendix §7.1] Delete Inbound Delivery",
        "description": "**Not in scope for VOLVO TRUCKS Tacoma.** DeleteInboundDelivery is marked NO in the HIS Appendix §7.1 message scope table. Retained on the mock for negative testing only; the HOST must not send this message in production — doing so may lead to unwanted system behaviour and system errors (HIS Appendix §4.1).",
        "operationId": "DeleteInboundDelivery",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundDeliveryRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inbound delivery cancelled and deleted",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (Order not found)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - inbound delivery already active. lineCode: E-AKO-MOVM-0005 (Wrong order process status). IB-02 EF-K409.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Goods-In"
        ],
        "summary": "Update Inbound Delivery (HIS Appendix §7.1)",
        "operationId": "PatchInboundDelivery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInboundDelivery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inbound delivery updated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (Order not found)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - inbound delivery already active. lineCode: E-AKO-MOVM-0005 (Wrong order process status). IB-02 EF-K409: PatchInboundDelivery is not allowed once processing has started.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/inboundDelivery/operator/start": {
      "post": {
        "tags": [
          "Goods-In Operator (mock)"
        ],
        "summary": "Operator starts processing the inbound delivery",
        "description": "Transitions inbound delivery NEW → STARTED and emits PostInboundDeliveryReply(STARTED). Mirrors IB-02 MF-3 / Page7 §3 in the asrs-specs use case.",
        "operationId": "OperatorStartInboundDelivery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundDeliveryRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Processing started",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status, e.g. already STARTED/FINISHED)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/inboundDelivery/operator/loadUnit": {
      "post": {
        "tags": [
          "Goods-In Operator (mock)"
        ],
        "summary": "Operator confirms a goods-in load unit (decant + inject)",
        "description": "Updates per-line received quantity, stores tote-compartment occupancy, increments ASRS stock and emits PostStockReceived. Enforces IB-02 EF-04 (qty > open), EF-06 (no topping-up) and EF-14 (mixed SKU). When all lines are fully received, KiSoft auto-finishes and emits PostInboundDeliveryReply(FINISHED).",
        "operationId": "OperatorReceiveLoadUnit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundDeliveryLoadUnitReceipt"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Load unit recorded",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status), E-AKO-MOVM-0006 (qty exceeds open), E-AKO-MOVM-0007 (line not found), E-AKO-MOVM-0008 (compartment not empty), E-AKO-MOVM-0009 (mixed SKU in compartment)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/inboundDelivery/operator/finish": {
      "post": {
        "tags": [
          "Goods-In Operator (mock)"
        ],
        "summary": "Operator forces processing to FINISHED",
        "description": "Transitions inbound delivery STARTED → FINISHED and emits PostInboundDeliveryReply(FINISHED). Use to close out short receipts (IB-02 EF-05).",
        "operationId": "OperatorFinishInboundDelivery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundDeliveryRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Processing finished",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/goodsOutOrder": {
      "get": {
        "tags": [
          "Mock OData Read (NOT KiSoft API)",
          "Goods-Out"
        ],
        "summary": "[MOCK ONLY — not KiSoft API] List goods-out orders (OData read)",
        "description": "**Not part of the KiSoft One Product API** (HIS Appendix §2.3.1: KiSoft exposes no GET requests). Mock-only inspection endpoint. Supports `$filter`, `$top`, `$skip`, `$count`. Filter fields: clientNumber, orderNumber, sheetNumber, processingStatus.",
        "operationId": "GetGoodsOutOrders",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include @odata.count when true",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OData v4 collection (mock-only; not KiSoft API)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ODataCollectionResponseGoodsOutOrderRead"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Goods-Out"
        ],
        "summary": "Create Goods-Out Order (HIS Appendix §7.4.1)",
        "operationId": "PostGoodsOutOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoodsOutOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Goods-out order accepted. PostGoodsOutOrderReply(NEW) reports all lines as UNTOUCHED.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Order rejected. lineCode: E-AKO-MAST-0001 (Unknown article), E-AKO-STOC-0001 (Not enough stock), E-AKO-GENR-0002 (Format error), E-AKO-GENR-0001 (General error), E-AKO-MOVM-0002 (Order already active)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Goods-Out"
        ],
        "summary": "[OUT OF SCOPE — HIS Appendix §7.4] Delete Goods-Out Order",
        "description": "**Not in scope for VOLVO TRUCKS Tacoma.** DeleteGoodsOutOrder is marked NO in the HIS Appendix §7.4 message scope table. Retained on the mock for negative testing only; the HOST must not send this message in production — doing so may lead to unwanted system behaviour and system errors (HIS Appendix §4.1).",
        "operationId": "DeleteGoodsOutOrder",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoodsOutOrderRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Goods-out order cancelled and deleted",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MOVM-0003 (Order not found)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - order already active. lineCode: E-AKO-MOVM-0005 (Wrong order process status). Cancel is only allowed while the order is NEW.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Goods-Out"
        ],
        "summary": "Update Goods-Out Order (HIS Appendix §7.4)",
        "operationId": "PatchGoodsOutOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGoodsOutOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Goods-out order updated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Errors detected. lineCode: E-AKO-MAST-0001 (Unknown article), E-AKO-STOC-0001 (Not enough stock), E-AKO-GENR-0002 (Format error), E-AKO-GENR-0001 (General error), E-AKO-MOVM-0003 (Order not found)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - order already active. lineCode: E-AKO-MOVM-0005 (Wrong order process status). Patch is only allowed while the order is NEW.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/goodsOutOrder/operator/start": {
      "post": {
        "tags": [
          "Goods-Out Operator (mock)"
        ],
        "summary": "Start registration of the goods-out order (GS §5.2.1)",
        "description": "Transitions the goods-out order NEW → STARTED and emits PostGoodsOutOrderReply(STARTED).",
        "operationId": "OperatorStartGoodsOutOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoodsOutOrderRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order started",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/goodsOutOrder/operator/pick": {
      "post": {
        "tags": [
          "Goods-Out Operator (mock)"
        ],
        "summary": "Confirm picking at the AeroBot workstation (GS §5.2.3)",
        "description": "Confirms the picks for the order, decrements ASRS stock and transitions STARTED → PROCESSED. A line picked below its requested quantity yields processingResult QUANTITY_ERROR and a PostStockCorrected; a line flagged damaged emits PostStockLockChanged. Emits PostGoodsOutOrderReply(PROCESSED).",
        "operationId": "OperatorPickGoodsOutOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoodsOutPickConfirmation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Picking confirmed",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/goodsOutOrder/operator/finalCheck": {
      "post": {
        "tags": [
          "Goods-Out Operator (mock)"
        ],
        "summary": "Final check / dispatch staging (GS §5.2.4–§5.2.5)",
        "description": "Passes the shipping load unit through the final check, transitions PROCESSED → FINISHED and emits PostGoodsOutOrderReply(FINISHED). No confirmation by the customer is required to close the order.",
        "operationId": "OperatorFinalCheckGoodsOutOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoodsOutOrderRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Final check passed",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "lineCode: E-AKO-MOVM-0003 (not found), E-AKO-MOVM-0004 (wrong status)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v1/_webhooks/storageOrderReply": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "[OUT OF SCOPE — HIS Appendix §7.1] StorageOrderReply (PostStorageOrderReply)",
        "description": "**Not in scope for VOLVO TRUCKS Tacoma.** Storage Order Processing Results is marked NO in the HIS Appendix §7.1 message scope table, although §7.1.2 still specifies its full field list — **this contradiction is open with KNAPP**. The payload schema has been aligned to §7.1.2 so the message is usable if the scope decision is reversed.",
        "operationId": "PostStorageOrderReply",
        "deprecated": true,
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageOrderReply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/storageCapacityReport": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Storage Capacity Report (PostStorageCapacityReport, HIS Appendix §8.3.1)",
        "operationId": "PostStorageCapacityReport",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageCapacityReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/stockReceived": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Stock Received (PostStockReceived, HIS Appendix §8.1.1)",
        "operationId": "PostStockReceived",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockReceived"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/stockLockChanged": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Stock Lock Changed (PostStockLockChanged, HIS Appendix §8.1.3)",
        "operationId": "PostStockLockChanged",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockLockChanged"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/stockCorrected": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Stock Corrected (PostStockCorrected, HIS Appendix §8.1.2)",
        "operationId": "PostStockCorrected",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockCorrected"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/loadUnitMoved": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Load Unit Moved (PostLoadUnitMoved, HIS Appendix §7.3.1)",
        "operationId": "PostLoadUnitMoved",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadUnitMoved"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/inventoryRequestReply": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Inventory Processing Results (PostInventoryRequestReply, HIS Appendix §7.2.1)",
        "operationId": "PostInventoryRequestReply",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequestReply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/inventoryReport": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Inventory Report (PostInventoryReport, HIS Appendix §8.2.1)",
        "operationId": "PostInventoryReport",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/inboundDeliveryReply": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Inbound Delivery Processing Results (PostInboundDeliveryReply, HIS Appendix §7.1.1)",
        "description": "Forwards the payload to IBM APIC. Set wait=true (default) to return the APIC HTTP status and body.",
        "operationId": "PostInboundDeliveryReply",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "description": "Wait for IBM APIC response and include it in the reply (recommended for Swagger)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundDeliveryReply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true); callback field contains APIC response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled (reply-callback-url not set)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/oneapi/v1/_webhooks/goodsOutOrderReply": {
      "post": {
        "tags": [
          "Webhooks (outgoing)"
        ],
        "summary": "Goods-Out Order Processing Results (PostGoodsOutOrderReply, HIS Appendix §7.4.2)",
        "operationId": "PostGoodsOutOrderReply",
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoodsOutOrderReply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Callback delivered (wait=true)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "202": {
            "description": "Callback queued (wait=false)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          },
          "503": {
            "description": "Callbacks disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OneApiOkResponse"
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/home": {
      "get": {
        "tags": [
          "home-controller"
        ],
        "operationId": "home",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "home-controller"
        ],
        "operationId": "home_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessCase": {
        "type": "string",
        "description": "businessCase values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.1). Defines how KiSoft One processes the order/request (permitted conveyors and workflows) and is used to group/filter on the GUI and in statistics. If the HOST omits the value, KiSoft One populates the DEFAULT value defined per message in the Product One API.",
        "enum": [
          "GOODS_IN",
          "GOODS_OUT",
          "INVENTORY",
          "RELOCATION"
        ]
      },
      "StockLockReason": {
        "type": "string",
        "description": "stockLockReasons values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.3).",
        "enum": [
          "DEFAULT",
          "EXPIRED",
          "HOST",
          "LOCATION_LOCKED",
          "LOCKED_FOR_VISION_CHECK",
          "LOST",
          "QS_REQ",
          "SRS_SYSTEM_BROKEN",
          "SUBSYSTEM_LOCKED",
          "TIME_TO_EXPIRE"
        ]
      },
      "ArticleFeature": {
        "type": "string",
        "description": "articleFeatures values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.4). **4.0.0:** HIS Appendix §4.2.4 lists `COOLING_REQ`; KiSoft One API 2.12.2 defines the predefined value as `COOLING_REQUIRED`. The official value is used.",
        "enum": [
          "AUTOMAT",
          "COOLING_REQUIRED",
          "CYLINDRICAL",
          "FRAGILE",
          "HIGHLY_AVAILABLE",
          "KNAPPSTORE",
          "NARCOTIC",
          "OSR_TREATABLE",
          "ROBOT_TREATABLE"
        ]
      },
      "LoadCarrier": {
        "type": "string",
        "description": "loadCarrier values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.5). FULL/HALF/QUATER/EIGHTH are OSR plastic load units with 1/2/4/8 slots; EUR_PALETTE is a pallet; SMALL/MEDIUM/LARGE are carton or plastic load units. Note: QUATER is spelled as in the specification.",
        "enum": [
          "FULL",
          "HALF",
          "QUATER",
          "EIGHTH",
          "EUR_PALETTE",
          "SMALL",
          "MEDIUM",
          "LARGE"
        ]
      },
      "StockType": {
        "type": "string",
        "description": "stockType values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.6). STANDARD = normal articles; CD2 = crossdocking; RETURNS = returned articles (WMS usage only); REJECTED = articles rejected during receiving.",
        "enum": [
          "STANDARD",
          "CD2",
          "RETURNS",
          "REJECTED"
        ]
      },
      "StockQuality": {
        "type": "string",
        "description": "stockQuality values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.7).",
        "enum": [
          "NEW",
          "RETURNS"
        ]
      },
      "ControlFlag": {
        "type": "string",
        "description": "controlFlags values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.8). CHECK_BY_HOST = load unit has to be manually checked; LIDDING = has to be lidded; STRAPPING = has to be strapped; BUFFER = processed load unit has to be stored in a buffer system; ROUTE_ASSISTANCE = storage orders only, requests feedback about possible entry points; MULTI_PHASE = order is a multi-phase order.",
        "enum": [
          "CHECK_BY_HOST",
          "LIDDING",
          "STRAPPING",
          "BUFFER",
          "ROUTE_ASSISTANCE",
          "MULTI_PHASE"
        ]
      },
      "ProcessingStatus": {
        "type": "string",
        "description": "processingStatus values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.9). NEW = initially created; RELEASE_READY = OutboundDelivery ready for release (WMS only, OutboundDeliveryReply — out of scope for this project); STARTED = started and active; MP_WAIT = load unit of a multi-phase order buffered in the AeroBot system; PROCESSED = all tasks processed, content final (picking completed, released to final check); MP_RELEASED = buffered multi-phase load unit finally released from the AeroBot system; FINISHED = completed; CANCELLED = cancelled and will not be completed.",
        "enum": [
          "NEW",
          "RELEASE_READY",
          "STARTED",
          "MP_WAIT",
          "PROCESSED",
          "MP_RELEASED",
          "FINISHED",
          "CANCELLED"
        ]
      },
      "ProcessingResult": {
        "type": "string",
        "description": "processingResult values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.10). See the specification for the full semantics of each value.",
        "enum": [
          "UNTOUCHED",
          "SPLIT",
          "PROCESSED",
          "QUANTITY_UNTRUSTED",
          "QUANTITY_ERROR",
          "COUNT_ERROR",
          "UNKNOWN_ARTICLE",
          "ZERO_REQUESTED",
          "MAX_PICK_QUANTITY",
          "LOAD_UNIT_FULL",
          "TAKEN_OFF_SALE",
          "OUT_OF_STOCK",
          "ARTICLE_IS_BLOCKED",
          "NO_SUITABLE_BUNDLE",
          "SPLIT_CONFIG_ERROR",
          "INVALID_BUNDLE_DIMENSIONS",
          "CANCELLED"
        ]
      },
      "CreatedBy": {
        "type": "string",
        "description": "createdBy values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.11). HOST = created because of a message from the higher-level system; SYSTEM = created for a KiSoft-internal reason (e.g. a load unit booked LOST); USER = created by a user action in KiSoft (e.g. creation via GUI).",
        "enum": [
          "HOST",
          "SYSTEM",
          "USER"
        ]
      },
      "ContentType": {
        "type": "string",
        "description": "contentType values configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.12). EMPTY = empty load unit without any content; STOCK = load unit with stock that can be picked from; GOODS_OUT = load unit with or without already picked stock, stock not available for picking.",
        "enum": [
          "EMPTY",
          "STOCK",
          "GOODS_OUT"
        ]
      },
      "StationAction": {
        "type": "string",
        "description": "Station action that triggered a configurable station reply for a goods-out order (HIS Appendix §4.3.2). DIVERT = the load unit was diverted at the station; THROUGH = it passed through; PROCESS = it was processed at the station.",
        "enum": [
          "DIVERT",
          "THROUGH",
          "PROCESS"
        ]
      },
      "AdditionalProperty": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "[REQ] Key of the customer-specific property."
          },
          "value": {
            "type": "string",
            "maxLength": 1024,
            "description": "[REQ] Value of the customer-specific property."
          }
        },
        "description": "NOT USED for VOLVO TRUCKS Tacoma - struck through in every additionalProperties array in the specification. Customer-specific key/value pair. Both members are [REQ] when the containing array is used (HIS Appendix §4.1.1: within arrays of objects a [REQ] field is required only if the entire group is used).",
        "deprecated": true
      },
      "Article": {
        "required": [
          "articleName",
          "articleNumber",
          "clientNumber"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "[REQ] Client number. DEFAULT is the only value configured for VOLVO TRUCKS Tacoma (HIS Appendix §4.2.2) and must always be transmitted, even when no other value exists.",
            "example": "DEFAULT",
            "default": "DEFAULT"
          },
          "articleNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[REQ]"
          },
          "articleName": {
            "type": "string",
            "maxLength": 60,
            "description": "[REQ]"
          },
          "isLotRequired": {
            "type": "boolean"
          },
          "isDateMarkRequired": {
            "type": "boolean",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "isSerialNumberRequired": {
            "type": "boolean",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "sizeRange": {
            "type": "string",
            "maxLength": 32,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "sizePosition": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification. Maximum 5 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema).",
            "deprecated": true
          },
          "sizeName": {
            "type": "string",
            "maxLength": 32,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "colorName": {
            "type": "string",
            "maxLength": 32,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "colorNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "salesPrice": {
            "type": "number",
            "format": "double",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification. Maximum 12 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema).",
            "deprecated": true
          },
          "currencyUnit": {
            "type": "string",
            "maxLength": 5,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalProperty"
            },
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          }
        }
      },
      "CapacityInformation": {
        "required": [
          "loadCarrier",
          "maximumStoredQuantity"
        ],
        "type": "object",
        "properties": {
          "loadCarrier": {
            "description": "[REQ] Load carrier the capacity applies to.",
            "allOf": [
              {
                "$ref": "#/components/schemas/LoadCarrier"
              }
            ]
          },
          "maximumStoredQuantity": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "[REQ] Maximum quantity of this pack unit that fits in one load carrier of the given type. Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          }
        },
        "description": "Capacity of one load carrier type for this pack unit (HIS Appendix §6.1.1). Renamed from `maxStoredQuantity` to `maximumStoredQuantity` to match the specification."
      },
      "PackUnitFull": {
        "required": [
          "article",
          "capacityInformation",
          "packSize"
        ],
        "type": "object",
        "properties": {
          "article": {
            "description": "[REQ] Article object.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Article"
              }
            ]
          },
          "packSize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "[REQ] Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 6 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 6 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 6 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "pocketedWidth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification. Maximum 6 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema).",
            "deprecated": true
          },
          "weight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "description": "Maximum 12 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "opticalCodes": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 35,
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          },
          "articleFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArticleFeature"
            },
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "loadCarrier": {
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §6.1.1. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/LoadCarrier"
              }
            ]
          },
          "articleImageLink": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048
          },
          "capacityInformation": {
            "type": "array",
            "description": "[REQ] Capacity per load carrier type. HIS Appendix §6.1.1 defines this as a required *array of objects*; earlier mock versions modelled it as a single object.",
            "items": {
              "$ref": "#/components/schemas/CapacityInformation"
            }
          }
        }
      },
      "SpontaneousStockCorrection": {
        "required": [
          "articleNumber",
          "clientNumber",
          "countedQuantity",
          "packSize"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$"
          },
          "articleNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "packSize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "countedQuantity": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "reason": {
            "type": "string",
            "maxLength": 30
          },
          "stationName": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Z][A-Z0-9_]*$"
          }
        }
      },
      "CallbackDeliveryResult": {
        "type": "object",
        "properties": {
          "targetUrl": {
            "type": "string",
            "description": "Full callback URL that was called"
          },
          "delivered": {
            "type": "boolean",
            "description": "True when APIC returned a 2xx status"
          },
          "callbackHttpStatus": {
            "type": "integer",
            "description": "HTTP status returned by APIC, or null when no response was received",
            "format": "int32"
          },
          "callbackResponseBody": {
            "type": "string",
            "description": "Response body from APIC (truncated for display)"
          },
          "callbackHttpMessage": {
            "type": "string",
            "description": "APIC httpMessage when present in the response body"
          },
          "moreInformation": {
            "type": "string",
            "description": "APIC moreInformation when present in the response body"
          },
          "errorMessage": {
            "type": "string",
            "description": "Full error summary (same text as the server log line)"
          }
        },
        "description": "Result of the outbound POST to the configured IBM APIC webhook URL"
      },
      "OneApiOkResponse": {
        "type": "object",
        "properties": {
          "http": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "callback": {
            "$ref": "#/components/schemas/CallbackDeliveryResult"
          }
        },
        "description": "Generic OK response used by the mock when the OneAPI endpoint returns a payload."
      },
      "RequestStorageCapacityReport": {
        "required": [
          "requestNumber"
        ],
        "type": "object",
        "properties": {
          "requestNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "storageArea": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §8.3.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          }
        }
      },
      "RequestInventoryReport": {
        "required": [
          "requestNumber",
          "reservationCode"
        ],
        "type": "object",
        "properties": {
          "requestNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[REQ]"
          },
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "DEFAULT is the only value configured (HIS Appendix §4.2.2).",
            "example": "DEFAULT",
            "default": "DEFAULT"
          },
          "articleNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "packSize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "stockType": {
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §8.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/StockType"
              }
            ]
          },
          "lotNumber": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §8.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "dateMark": {
            "type": "string",
            "format": "date",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §8.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "serialNumber": {
            "type": "string",
            "maxLength": 20,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §8.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "reservationCode": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[REQ] Marked as required in HIS Appendix §8.2.2."
          },
          "storageArea": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §8.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          }
        },
        "description": "Request an Inventory Report (PostRequestInventoryReport, HIS Appendix §8.2.2)."
      },
      "MasterDataUpdateSession": {
        "required": [
          "transmissionTag"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "DEFAULT is the only value configured (HIS Appendix §4.2.2).",
            "example": "DEFAULT",
            "default": "DEFAULT"
          },
          "transmissionTag": {
            "type": "string",
            "description": "[REQ] SET opens the update session, CLEANUP closes it. Changed from an unanchored `pattern` to an enum so that values such as \"XSET\" are rejected (HIS Appendix §4.4 on value syntax).",
            "enum": [
              "SET",
              "CLEANUP"
            ]
          }
        },
        "description": "Open or close a master data update session (HIS Appendix §6.1). Opening/closing the session is not mandatory — pack units may be sent directly with PutPackUnit."
      },
      "LoadUnitRetrievalRequest": {
        "required": [
          "clientNumber",
          "loadUnitCode"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$"
          },
          "loadUnitCode": {
            "type": "string",
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "loadCarrier": {
            "$ref": "#/components/schemas/LoadCarrier"
          },
          "stationName": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Z][A-Z0-9_]*$"
          },
          "locationNumber": {
            "type": "string",
            "maxLength": 60,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "articleNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "packSize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "slot": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 9 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "stockType": {
            "$ref": "#/components/schemas/StockType"
          },
          "toConventional": {
            "type": "boolean"
          }
        },
        "description": "Mock-only targeted retrieval request; not a KiSoft One Product API message."
      },
      "RepackRequest": {
        "required": [
          "articleNumber",
          "clientNumber"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$"
          },
          "sourceLoadUnitCode": {
            "type": "string",
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "sourceSlot": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 9 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "targetLoadUnitCode": {
            "type": "string"
          },
          "targetSlot": {
            "type": "integer",
            "format": "int32"
          },
          "articleNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "packSize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "deltaQuantity": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "stationName": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Z][A-Z0-9_]*$"
          },
          "reason": {
            "type": "string",
            "maxLength": 30
          }
        }
      },
      "InventoryRequest": {
        "required": [
          "clientNumber",
          "inventoryRequestLine",
          "requestNumber"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "[REQ] DEFAULT is the only value configured (HIS Appendix §4.2.2).",
            "example": "DEFAULT",
            "default": "DEFAULT"
          },
          "requestNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[REQ]"
          },
          "inventoryRequestLine": {
            "description": "[REQ] **STRUCTURAL CHANGE IN 4.0.0:** modelled as a single object, not an array. HIS Appendix §7.2.1/§7.2.2 labels this field `[Array of objects]` but draws object braces `{ }`; KiSoft One API 2.12.2 defines `inventoryRequestLine` as `type: object`, i.e. one line per inventory request. The official definition is followed. **Open point to confirm with KNAPP** - a multi-line inventory request would require an array here.",
            "allOf": [
              {
                "$ref": "#/components/schemas/InventoryRequestLine"
              }
            ]
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "businessCase": {
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/BusinessCase"
              }
            ]
          },
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalProperty"
            },
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          }
        }
      },
      "InventoryRequestLine": {
        "required": [
          "lineReference"
        ],
        "type": "object",
        "properties": {
          "lineReference": {
            "type": "string",
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[REQ]"
          },
          "articleNumber": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "packSize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Maximum 7 digits (expressed as `maxLength` on an integer in KiSoft One API 2.12.2; recorded here as text because `maxLength` only constrains strings in JSON Schema)."
          },
          "stockType": {
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/StockType"
              }
            ]
          },
          "lotNumber": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "dateMark": {
            "type": "string",
            "format": "date",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification.",
            "deprecated": true
          },
          "reservationCode": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "storageArea": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^[A-Z][A-Z0-9_]*$",
            "description": "[NIS] Not in scope for VOLVO TRUCKS Tacoma - shown grey and struck through in HIS Appendix §7.2.2. The HOST must not transmit this field; doing so may cause unpredictable behaviour (HIS Appendix §4.1.1). Never mandatory: it is excluded from the schema's required list and marked deprecated so it renders struck through, matching the specification. If articleNumber is transmitted, it is recommended to transmit storageArea as an additional filter criterion (HIS Appendix §7.2.2).",
            "deprecated": true
          },
          "locationNumber": {
            "type": "string",
            "maxLength": 60,
            "pattern": "^[A-Za-z0-9_-]+$",
[...]
